:root {
  --main-color: #ffffff;
  --secondary-color: #222222;
  --background-color: #101010;
  --accent-color: #ffffff;
  --button-bg-color: #222222;
  --button-bg-hover-color: #ffffff;
  --filter-color: var(--filter-white);
  --filter-secondary-color: var(--filter-lightgray);
  --filter-background-color: var(--filter-black);
}
