h1 {
  padding-bottom: 1rem;
  font-size: 2em;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 40px;
}

/* sidebar */

section.about {
  padding: 40px;
  padding-right: 0px;
  flex-basis: 450px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section.about > article {
  padding-bottom: 20px;
}

section.about > article > p {
  padding-bottom: 1rem;
}

/* portfolio section */

section.portfolio {
  padding: 40px;
  padding-left: 0px;
  overflow-y: scroll;
  flex-basis: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}

a.card {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure link covers entire card */
}

.card:hover {
  cursor: pointer;
}

.card .image-container {
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card .title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.card .year {
  font-size: 0.8rem;
  color: darkgrey;
}

/* footer */

ul.socials {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 12px;
}

ul.socials li {
  text-decoration: none;
  height: 24px;
  width: 24px;
  opacity: 0.2;
  transition: 100ms ease-in-out;
}

ul.socials li:hover {
  opacity: 1;
}

.footer a:visited {
  text-decoration: none;
}

/* for mobile screens */

@media (max-width: 1200px) {
  body {
    flex-direction: column-reverse;
    height: auto;
    gap: 0px;
  }
  section.about {
    flex-basis: auto;
    padding: 20px;
    padding-bottom: 60px;
    /* padding-left: initial; */
  }
  section.portfolio {
    overflow-y: auto;
    height: 100%;
    padding: 20px;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 8vw;
  }
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  section.about > article > p {
    padding-bottom: 1rem;
  }
}
