body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 40px;
  color: var(--black);

  transition: 150ms ease-in-out;
}

h1 {
  padding-bottom: 1rem;
  font-size: 2em;
}

/* sidebar */

section.about {
  padding: 40px;
  padding-right: 0px;
  flex-basis: 450px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transition: 150ms ease-in-out;
}

section.about > article {
  padding-bottom: 20px;
}

section.about > article > p {
  padding-bottom: 1rem;
}

section.about h1 {
  font-size: 1rem;
}

/* portfolio section */

section.portfolio {
  padding: 40px;
  padding-left: 0px;
  overflow-y: scroll;
  flex-basis: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;

  transition: 150ms ease-in-out;
}

a.card {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure link covers entire card */
}

.card:hover {
  cursor: pointer;
}

.card .image-container {
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  transition: transform 300ms ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
}

.card .title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.card .year {
  font-size: 0.8rem;
  /* color: darkgrey; */
  /* filter: var(--filter-lightgray); */
}

/* footer */

ul.socials {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 12px;
}

ul.socials li {
  text-decoration: none;
  height: 24px;
  width: 24px;
  filter: var(--filter-lightgray);
  /* transition: filter 150ms ease-in-out; */
}

ul.socials li:hover {
  filter: initial;
}

.footer a:visited {
  text-decoration: none;
}

#button-dark-mode {
  position: fixed;
  z-index: 1000; /* Убедитесь, что кнопка выше других элементов */
  margin: 0;
  padding: 0;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;

  border-radius: 25%;
  border: none;
  box-shadow: none; /* обнуляем тень */
  background-color: var(--lightgray);

  cursor: pointer;
  font-family: "Inter var", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 150ms ease-in-out;
}

#button-dark-mode:focus {
  outline: none; /* Если не нужен стандартный outline */
  background-color: var(--lightgray);
  /* color: initial; */
}

#button-dark-mode:hover {
  background-color: var(--black);
  color: var(--white);
}

#button-dark-mode img {
  filter: none;

  transition: 150ms ease-in-out;
}

#button-dark-mode:hover img {
  filter: var(--filter-white);
}

/* for narrowed window */

@media (max-width: 1600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* for mobile screens */

@media (max-width: 1200px) {
  body {
    flex-direction: column-reverse;
    height: auto;
    gap: 0px;
  }
  section.about {
    flex-basis: auto;
    padding: 20px;
    padding-bottom: 60px;
    /* padding-left: initial; */
  }
  section.about > article {
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }
  section.about > article > p {
    width: 50%;
  }
  section.portfolio {
    overflow-y: auto;
    height: 100%;
    padding: 20px;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
  }
  #button-dark-mode {
    top: 30px;
    left: 30px;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 8vw;
  }
  p {
    font-size: 1rem;
  }
  section.about > article {
    display: block;
  }
  section.about > article > p {
    padding-bottom: 1rem;
    width: initial;
  }
}
